@model StarWarsForum.Models.TopicViewModels.TopicIndexModel

<h1>@Model.Title</h1>

@if (Model.PostDeletedMessage != null)
{
    <div class="alert alert-info">@Model.PostDeletedMessage</div>
}

@foreach (var post in Model.Posts)
{
    <table class="table table-active" id="postTable">
        <tbody>
            <tr>
                <td>
                    @post.AuthorName
                </td>
                <td>
                    @if (!post.IsHead)
                    {
                        <span>Re: @Model.Title</span>
                    }
                    else
                    {
                        @Model.Title
                    }
                    @post.Created
                    @if (post.IsEdited)
                    {
                        <span>(edited)</span>
                    }
                </td>
                <td>
                    @if (post.AuthorName == User.Identity.Name)
                    {
                        @if (post.IsHead)
                        {
                            <a asp-controller="Topic" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        }
                        else if (post.Created.AddHours(3) > DateTime.Now)
                        {
                            <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                            <a asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <a class="forumLogo" style="background-image: url(@post.AuthorImageUrl); background-size:100%" asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorName"></a>
                </td>
                <td>
                    @post.Content
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
}

@if (User.Identity.IsAuthenticated)
{
<a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Id">
    Reply
</a>
}

<a asp-controller="Forum" asp-action="Topics" asp-route-id="@Model.ForumId">
    Back to the @Model.ForumTitle
</a>
