@model StarWarsForum.Models.ForumViewModels.ForumIndexModel
@{
    ViewData["Title"] = "Forum";
}

<h1>Forum</h1>

@if (Model.ForumDeletedMessage != null)
{
    <div class="alert alert-info">@Model.ForumDeletedMessage</div>
}

<table class="table" id="forumIndexTable">
    <tbody>
        @foreach (var forum in Model.ForumList)
        {
            <tr>
                <td>
                    <a class="forumLogo" style="background-image: url(@forum.ImageUrl); background-size:100%" asp-controller="Forum" asp-action="Topics" asp-route-id="@forum.Id"></a>
                </td>
                <td>
                    <a asp-controller="Forum" asp-action="Topics" asp-route-id="@forum.Id">
                        @forum.Title
                    </a>
                </td>
                <td>
                    @forum.Description
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Forum" asp-action="Edit" asp-route-id="@forum.Id">
                            Edit
                        </a>
                        <a asp-controller="Forum" asp-action="Delete" asp-route-id="@forum.Id">
                            Delete
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>