@model StarWarsForum.Models.ForumViewModels.ForumIndexModel

<h1>Forum</h1>

<table class="table table-hover" id="forumIndexTable">
    <tbody>
        @foreach (var forum in Model.ForumList)
        {
        <tr>
            <td>
                <a class="forumLogo" style="background-image: url(@forum.ImageUrl); background-size:100%" asp-controller="Forum" asp-action="Topics" asp-route-id="@forum.Id"></a>
            </td>
            <td>
                <a asp-controller="Forum" asp-action="Topics" asp-route-id="@forum.Id">
                    @forum.Title
                </a>    
            </td>
            <td>
                @forum.Description
            </td>
        </tr>
        }
    </tbody>
</table>