@model StarWarsForum.Models.ForumViewModels.ForumTopicModel
@{
    ViewData["Title"] = Model.Forum.Title;
}


<h1>Welcome to the @Model.Forum.Title forum!</h1>

@if (Model.TopicDeletedMessage != null)
{
    <div class="alert alert-info">@Model.TopicDeletedMessage</div>
}


@if (User.Identity.IsAuthenticated)
{
    @if (Model.Topics.Any())
    {
        <table class="table table-striped" id="topicsTable">
            <tbody>
                <tr>
                    <td>
                        Topic Title
                    </td>
                    <td>
                        Topic Starter
                    </td>
                    <td>
                        Date Started
                    </td>
                    <td>
                        Total Posts
                    </td>
                    <td>
                        Last Reply By
                    </td>
                    <td>
                        Last Reply At
                    </td>
                    <td>
                    </td>
                </tr>
                @foreach (var topic in Model.Topics)
                {
                    <tr>
                        <td>
                            <a asp-controller="Topic" asp-action="Index" asp-route-id="@topic.Id">
                                @topic.Title
                            </a>
                        </td>
                        <td>
                            @topic.TopicStarterName
                        </td>
                        <td>
                            @topic.DateStarted
                        </td>
                        <td>
                            @topic.PostsCount
                        </td>
                        <td>
                            @topic.LastPostAuthorName
                        </td>
                        <td>
                            @topic.LastPostCreated
                        </td>
                        <td>
                            <a asp-controller="Topic" asp-action="Edit" asp-route-id="@topic.Id">Edit</a>
                            <a asp-controller="Topic" asp-action="Delete" asp-route-id="@topic.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-controller="Topic" asp-action="Create" asp-route-id="@Model.Forum.Id">
            <span>Create new topic</span>
        </a>
    }
    else
    {
        <h3>
            There are no opened topics in this forum for now.
            Be the first to
            <a asp-controller="Topic" asp-action="Create" asp-route-id="@Model.Forum.Id">
                <span>create</span>
            </a>
            one!
        </h3>

    }
}

<a asp-controller="Forum" asp-action="Index">Back to the forums list</a>